body {
  background-color: rgb(236, 160, 173);
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}
/* img {
  float: left
  border-radius: 50%;
  vertical-align: left;
  width: 100px;
  height: 100px;
} */
img {
  float: left
}